@model TaskTimePredicter.Models.Quest

@{
    ViewData["Title"] = "Detalles Tarea";
}

<h1>Detalles de la Tarea</h1>

<div>
    <h4>Tarea Seleccionada</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Nombre Tarea
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.QuestName)
        </dd>
        <dt class = "col-sm-2">
            Tiempo Estimado
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EstimatedTime)
        </dd>
        <dt class = "col-sm-2">
            Estado de la Tarea
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.QuestState)
        </dd>
        <dt class = "col-sm-2">
            Fecha de Creación
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreationDate)
        </dd>
        <dt class = "col-sm-2">
            Usuario Asignado
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.User.UserName)
        </dd>
        <dt class = "col-sm-2">
            Categoría de la Tarea
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Category.CategoryName)
        </dd>
        <dt class="col-sm-2">
            Subcategoría de la Tarea
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Subcategory.SubcategoryName)
        </dd>
        <dt class="col-sm-2">
            Proyecto Asignado
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Project.ProjectName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index">Volver a la Lista de Tareas</a>
</div>
