<h2>Estadísticas de Proyectos</h2>


<p>El proyecto <strong>@(Model?.ProyectoMin ?? "Sin datos")</strong>, con un tiempo total de <strong>@(Model?.MinTime ?? 0)</strong> horas, ha durado menos a comparación del proyecto <strong>@(Model?.ProyectoMax ?? "Sin datos")</strong>, con un tiempo total de <strong>@(Model?.MaxTime ?? 0)</strong> horas. Entre ellos existe una diferencia de: <strong>@(Model?.DiffMinMax ?? 0)</strong> horas.</p>
